@import url('http://fonts.cdnfonts.com/css/montserrat');
@import url('http://fonts.cdnfonts.com/css/chakra-petch-2');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: "#0F1112";
}